:root {
    --text-300: 300px;
    --text-100: 100px;
    --text-70: 70px;
    --text-50: 50px;
    --text-30: 30px;
    --text-25: 25px;
    --text-20: 20px;

    --size-130: 130px;
    --size-50: 50px;
    --size-30: 30px;
    --size-20: 20px;
    --size-15: 15px;
    --size-10: 10px;
}