{% extends 'base.html.twig' %}

{% block title %}nouvelle adresse{% endblock %}

{% block body %}
<div class="flex justify-center mt-130">
    <div class="w-7/12 flex flex-col gap-y-20">
        <h2>Ajouter une adresse</h2>
        {{ include('place/_form.html.twig') }}
    </div>
</div>
{% endblock %}
